<div class="container">
    <div class="wrapper">
        <section class="col">
            <div class="title main">
                <h3>
                    Connexxion
                </h3>
                <p class="desc">
                    Connexxion is the preeminent technology platform for enterprise recruitment in India.
                </p>
            </div>
            <div class="social">
                <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
            </div>
        </section>
        <section class="col">
            <div class="title">
                <h3>
                    About Us
                </h3>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>About Us
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>For Educators
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>Virtual Hiring
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>Contact Us
                    </li>
                </ul>
            </div>
            <div class="title">
                <h3>
                    Solutions
                </h3>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>Custom-built Assessments
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>Expert Interviews
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>University Hiring
                    </li>
                </ul>
            </div>
        </section>
        <section class="col">
            <div class="title">
                <h3>
                    Products
                </h3>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>Connexxion Campus Hiring Workflows
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>Connexxion Coding Assessments
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>Connexxion Functional Assessments
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>Connexxion Onboarding
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>Connexxion Proctoring
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>Connexxion Video Interviews
                    </li>
                </ul>
            </div>
        </section>
        <section class="col">
            <div class="title">
                <h3>Contact Us</h3>
            </div>
            <div class="content">
                <p>
                   <fa-icon [icon]="['fas','location-arrow']"></fa-icon>VPROX Private Ltd
                    CareerNet Campus, Plot No. 53, Kariyammana Agrahara Road, Devarabisana Halli (Next to Intel Junction
                    Flyover), Outer Ring Road, Bengaluru – 560 103</p>
                <p><fa-icon [icon]="['fas','phone']"></fa-icon>+91-80-66560000</p>

                <p><fa-icon [icon]="['fas','envelope']"></fa-icon>sales@vprox.in</p>

                <p><fa-icon [icon]="['fas','business-time']"></fa-icon>Mon – Fri: 9:00 am – 6:00 pm</p>
            </div>
        </section>
    </div>
</div>