<div class="main-carousel">
    <div class="actions" *ngIf="false">
        <button mat-icon-button class="left">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button mat-icon-button class="right">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>
    <div class="slides">
        <input type="radio" name="slider-actions" id="radio1">
        <input type="radio" name="slider-actions" id="radio2">
        <input type="radio" name="slider-actions" id="radio3">
        <input type="radio" name="slider-actions" id="radio4">

        <div class="slide first">
            <div class="content">
                <h1 class="carousel-content">
                    <span class="strong">AI Tech</span>&nbsp;
                    <span class="light">at</span><br>
                    Scale
                </h1>
            </div>
            <img src="../assets/images/ai7.jpg" alt="ai3.png">
        </div>
        <div class="slide">
            <div class="content">
                <h1 class="carousel-content">Institutionalize Intelligent Automation 
                    <span class="light">with</span> 
                   <br><span class="strong">RPA</span>
                </h1>
            </div>
            <img src="../assets/images/ai6.jpg" alt="ai1.png">
        </div>
        <div class="slide">
            <div class="content">
                <h1 class="carousel-content"><span class="light">Transform</span> 
                    Customer Engagement 
                    <span class="light">with</span><br>
                    <span class="strong">Cognitive UI</span>
                </h1>
            </div>
            <img src="../assets/images/ai1.png" alt="ai2.png">
        </div>
        <div class="slide">
            <div class="content">
                <h1 class="carousel-content">Institutionalize Intelligent With RPA</h1>
            </div>
            <img src="../assets/images/ai5.jpg" alt="ai4.png">
        </div>
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
        </div>
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>
</div>
<div class="features-container">
    <div class="header">
        <h1>What Studies Say</h1>
    </div>
    <div class="cards-left">
        <div class="card">
            <div class="logo">
                <mat-icon>list_alt</mat-icon>
            </div>
            <div class="content">
                Traditional job descriptions are lot of keywords/keyskills, vague descriptors & expectations
            </div>
        </div>
        <div class="card">
            <div class="logo">
                <mat-icon>star_border</mat-icon>
            </div>
            <div class="content">
                80%+ applications are never looked at by recruiters, missing quality candidates
            </div>
        </div>
        <div class="card">
            <div class="logo">
                <mat-icon>more_time</mat-icon>
            </div>
            <div class="content">
                Recruiters waste hours in manual, non-standardized, and superficial screening
            </div>
        </div>
    </div>
    <div class="cards-right">
        <div class="card">
            <div class="logo">
                <mat-icon>local_police</mat-icon>
            </div>
            <div class="content">
                Unpleasant candidate experience impacts the brand
            </div>
        </div>
        <div class="card">
            <div class="logo">
                <mat-icon>record_voice_over</mat-icon>
            </div>
            <div class="content">
                Volume of applications are overwhelming difor the recruiters
            </div>
        </div>
    </div>
</div>
<div class="hscrollable-banner">
    <div class="sticky-wrapper">
        <div class="header">
            <h1>Connexxion.ai</h1>
        </div>
        <div class="hscrollable-banner__wrapper">
            <div class="title-card">
                <div class="title">
                    <div class="logo">
                        <mat-icon>speaker_notes</mat-icon>
                    </div>
                    <h1>Enterprise Grade Conversational AI</h1>
                </div>
                <div class="desc">
                    <p>
                        Connexxion's core engine uses NLP and machine intelligence to deliver intelligent conversations, helping enterprises to drive sales, improve customer support and service, reduce operational cost and improve NPS.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <div class="logo">
                        <mat-icon>precision_manufacturing</mat-icon>
                    </div>
                    <h1>AI Powered Recruitment</h1>
                </div>
                <div class="desc">
                    <p>
                        Our approach to structured hiring empowers companies to facilitate stronger recruiter and hiring manager alignment, improve candidate experience and ultimately make better hires.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <div class="logo">
                        <mat-icon>assessment</mat-icon>
                    </div>
                    <h1>Proctored Assessments & Interviews</h1>
                </div>
                <div class="desc">
                    <p>
                        Ensure all candidates are fairly and consistently evaluated based on their skills and experience. Create the same seamless experience for every candidate.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <div class="logo">
                        <mat-icon>smart_toy</mat-icon>
                    </div>
                    <h1>Screening chatbot</h1>
                </div>
                <div class="desc">
                    <ul>
                        <li>Intelligent Chatbot interacts with candidates and ask questions configured by you.</li>
                        <li>Automated SMS and e-mail communications sequences.</li>
                        <li>Auto reminders and notifications.</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <div class="logo">
                        <mat-icon>contact_phone</mat-icon>
                    </div>
                    <h1>Remote Hiring</h1>
                </div>
                <div class="desc">
                    <p>
                        Engagely is powered with NLP that enables it to make the conversations more human-like. It is pre-trained on rich datasets and gets finetuned with every conversation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="features-banner">
    <div class="row">
        <div class="banner-img banner-img__gd">
        </div>
        <div class="banner-content">
            <h1 class="title">
                Accelerate Data to Decisions  
            </h1>
            <p class="desc">
                Success of an enterprise can be measured by their decision making speed. Delayed decisions lead to implausible results. Accelerate your decisions with the power of machine learning. Build Predictive models, informational bots and business performance dashboards on top of intelligent data lakes and functional data marts to spedify your decision making cycle.
            </p>
            <button>
                View More
                <mat-icon>read_more</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="banner-img banner-img__rpa">
        </div>
        <div class="banner-content">
            <h1 class="title">
                Intelligent Automation with RPA  
            </h1>
            <p class="desc">
                Intelligent Automation is revolutionizing the way businesses are done. Comprehensive view of process & planning is essential for enterprise success. Institutionalize intelligent automation to reduce process cost by as much as 70%, drive higher customer and stakeholder satisfaction, and improve process agility.
            </p>
            <button>
                Learn More
                <mat-icon>read_more</mat-icon>
            </button>
        </div>
    </div>
</div>
